@using WebQuanLyCV.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<CV>
@{
    ViewBag.Title = "ProductCV";
    Layout = "~/Views/Layouts/ProductLayout.cshtml";
}

@section head
{
    @*Hiển thị những mục chỉ riêng NUT hoặc riêng NTD nhìn thấy khi đăng nhập*@
    <div class="container">
        <div class="logo">
            <a href="#"><img src="~/Content/images/LogoWeb.jpg" height="50" width="50" alt=""></a>
        </div>
        <div class="header-left">
            @if (Session["TaiKhoan"] != null)
            {
                ThongtinTaiKhoan Tttkh = (ThongtinTaiKhoan)Session["TaiKhoan"];
                <ul>
                    <li><a class="lock" href="#">Xin chào, @Tttkh.HoTen</a></li>
                    <li>@Html.ActionLink("Đăng xuất", "Logout", "Home", new { @class = "lock" })</li>
                    @*<li><a class="lock" href="games.html">Đăng xuất</a></li>*@
                    <li>
                    </li>

                </ul>
            }

            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
}

@section menu
{
    <div class=" h_menu4">
        @if (Session["TaiKhoan"] != null)
        {
            ThongtinTaiKhoan Tttkh = (ThongtinTaiKhoan)Session["TaiKhoan"];
            <ul class="memenu skyblue">
                @if (Tttkh.MaLoaiTK == 2)
                {
                    <li><a class="color1" href="@Url.Action("ChinhSuaCT", "Home", new {@MaCT = Tttkh.MaCT})">Chỉnh sửa thông tin công ty</a></li>
                    <li><a class="color1" href="@Url.Action("MakeJob", "Home", new {@MaCT = Tttkh.MaCT})">Tạo thông tin tuyển dụng</a></li>
                }
                <li class="grid"><a class="color2" href="@Url.Action("LoadJobsList", "Home")">Xem thông tin tuyển dụng</a></li>
                <li><a class="color4" href="@Url.Action("ChinhSuaTK", "Home", new {@MaTTTK = Tttkh.MaTTTK})">Chỉnh sửa tài khoản</a></li>
            </ul>
        }
    </div>
}

@section leftmenu
{
    @if (Session["TaiKhoan"] != null)
    {
        ThongtinTaiKhoan Tttkh = (ThongtinTaiKhoan)Session["TaiKhoan"];
        foreach (var item in ViewBag.listCT)
        {
            <ul class="menu">
                <li class="item1">
                    <a href="#">@item.TenCT </a>
                    <ul class="cute">
                        @foreach (var item1 in ViewBag.listChV)
                        {
                            if (item.MaCT == item1.MaCT)
                            {
                                if (Tttkh.MaLoaiTK == 1)
                                {
                                    <li class="subitem1"><a href="@Url.Action("ViewJob", "Home", new { @MaTTTK = Tttkh.MaTTTK, @MaLoaiTK = Tttkh.MaLoaiTK, @MaChV = item1.MaChV, @MaCT = item.MaCT })">@item1.ChucVuTuyenDung </a></li>
                                }
                                else
                                {
                                    <li class="subitem1"><a href="#">@item1.ChucVuTuyenDung </a></li>
                                }
                            }
                        }
                    </ul>
                </li>
            </ul>
        }
     }

}

@section botton
{
    @if (Session["TaiKhoan"] != null)
    {
        ThongtinTaiKhoan Tttkh = (ThongtinTaiKhoan)Session["TaiKhoan"];
        @*Hiển thị các CV của người ứng tuyển đã đăng nhập*@
        if (Tttkh.MaLoaiTK == 1)
        {
            <h3 class="cate">Danh sách CV đã ứng tuyển của bạn</h3>
            <br />
            foreach (var item in Model)
            {
                if (item.MaTTTK == Tttkh.MaTTTK)
                {
                    <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                        <div class="product-at ">
                            <a href="@Url.Action("XemChiTiet", "Home", new {@MaCV = item.MaCV})">
                                <img class="img-responsive" src="~/Content/images/CVPhoto.png" alt="">
                                <div class="pro-grid">
                                    <span class="buy-in">Xem Chi Tiết</span>
                                </div>
                            </a>
                        </div>
                        <p class="tun">@item.TieuDeCV</p>
                        @if (item.DaXem == false)
                        {
                            <a href="@Url.Action("XemChiTiet", "Home", new { @MaCV = item.MaCV })" class="item_add"><p class="number item_price"><i> </i>Nhà tuyển dụng chưa xem</p></a>
                        }
                        else
                        {
                            <a href="@Url.Action("XemChiTiet", "Home", new { @MaCV = item.MaCV })" class="item_add"><p class="number item_price"><i> </i>Nhà tuyển dụng đã xem</p></a>
                        }
                    </div>
                }
            }
        }
        @*Hiển thị các CV ứng tuyển vào công ty của nhà tuyển dụng đã đăng nhập*@
        if (Tttkh.MaLoaiTK == 2)
        {
            <h3 class="cate">Danh sách CV đã ứng tuyển vào công ty của bạn</h3>
            <br />
            foreach (var item in Model)
            {
                if (item.MaCT == Tttkh.MaCT)
                {
                    <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                        <div class="product-at ">
                            <a href="@Url.Action("XemChiTiet", "Home", new {@MaCV = item.MaCV})">
                                <img class="img-responsive" src="~/Content/images/CVPhoto.png" alt="">
                                <div class="pro-grid">
                                    <span class="buy-in">Xem chi tiết</span>
                                </div>
                            </a>
                        </div>
                        <p class="tun">@item.TieuDeCV</p>
                        @if (item.DaXem == false)
                        {
                            <a href="@Url.Action("XemChiTiet", "Home", new { @MaCV = item.MaCV })" class="item_add"><p class="number item_price"><i> </i>Bạn chưa xem</p></a>
                        }
                        else
                        {
                            <a href="@Url.Action("XemChiTiet", "Home", new { @MaCV = item.MaCV })" class="item_add"><p class="number item_price"><i> </i>Bạn đã xem</p></a>
                        }
                    </div>
                }
            }
        }
    }

    <style>
        .color {
            color: lawngreen;
        }
    </style>
}

@section page
{
    <div class="dlink">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("ProductCV", new { page = page }))
    </div>
}



